<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

   <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
      <param name="Target" value="System.out"/>
      <param name="Threshold" value="DEBUG"/>
      <layout class="org.apache.log4j.PatternLayout">
         <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p [%c] (%t:%x) %m%n"/>
      </layout>
   </appender>

   <category name="de.gedoplan">
      <priority value="INFO"/>
   </category>

   <category name="org.hibernate">
      <priority value="OFF"/>
   </category>
   <!-- 
   <category name="org.hibernate.SQL">
      <priority value="DEBUG"/>
   </category>
    -->
   
   <category name="openjpa">
      <priority value="ERROR"/>
   </category>

   <!-- 
   <category name="openjpa.jdbc.SQL">
      <priority value="TRACE"/>
   </category>
    -->

   <category name="DataNucleus">
      <priority value="OFF"/>
   </category>
   <!-- 
   <category name="DataNucleus.Query">
      <priority value="DEBUG"/>
   </category>
    -->

   <root>
      <priority value="WARN"/>
      <appender-ref ref="CONSOLE"/>
   </root>

</log4j:configuration>
