<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0">
  <!-- Register Faces Servlet for *.xhtml -->
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>*.xhtml</url-pattern>
  </servlet-mapping>

  <!-- Date Converter use system time zone instead of UTC -->
  <context-param>
    <param-name>javax.faces.DATETIMECONVERTER_DEFAULT_TIMEZONE_IS_SYSTEM_TIMEZONE</param-name>
    <param-value>true</param-value>
  </context-param>

  <!-- Do not send XML comments to the client -->
  <context-param>
    <param-name>javax.faces.FACELETS_SKIP_COMMENTS</param-name>
    <param-value>true</param-value>
  </context-param>

  <!-- Process zero-length input strings as null values -->
  <!-- Achtung: Damit Tomcat-basierte Web-Container leere Eingaben als null verarbeiten, muss ggf. die System Property org.apache.el.parser.COERCE_TO_ZERO auf false gesetzt werden! -->
  <context-param>
    <param-name>javax.faces.INTERPRET_EMPTY_STRING_SUBMITTED_VALUES_AS_NULL</param-name>
    <param-value>true</param-value>
  </context-param>

  <!-- Use development mode -->
  <context-param>
    <param-name>javax.faces.PROJECT_STAGE</param-name>
    <param-value>Development</param-value>
  </context-param>
  <context-param>
    <param-name>facelets.DEVELOPMENT</param-name>
    <param-value>true</param-value>
  </context-param>

  <!-- Welcome page -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

  <!-- Login configuration -->
  <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
      <form-login-page>/login.xhtml</form-login-page>
      <form-error-page>/login_error.xhtml</form-error-page>
    </form-login-config>
  </login-config>

  <!-- Error page for "Access denied" -->
  <error-page>
    <error-code>403</error-code>
    <location>/login_insufficient.xhtml</location>
  </error-page>

  <!-- Security configuration -->
  <security-role>
    <role-name>provsUser</role-name>
  </security-role>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>secretPages</web-resource-name>
      <url-pattern>/view/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>provsUser</role-name>
    </auth-constraint>
  </security-constraint>

  <!-- PrimeFaces Theme -->
  <context-param>
    <param-name>primefaces.THEME</param-name>
    <param-value>sam</param-value>
  </context-param>

  <!-- Disable Seam Persistence TransactionServletListener -->
  <context-param>
    <param-name>org.jboss.seam.transaction.disableListener</param-name>
    <param-value>true</param-value>
  </context-param>
  
</web-app>