.leftAlign {
	text-align: left;
}

.rightAlign {
	text-align: right;
}

.topAlign {
	vertical-align: top;
}

.middleAlign {
	vertical-align: middle;
}

.baselineAlign {
	vertical-align: baseline;
}

.selected {
	color: blue;
	font-weight: bold;
}

.errorMessage {
	color: red;
}

#header {
	vertical-align: top;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: large;
	background-color: blue;
	width: 100%;
}

#navigation {
	vertical-align: top;
	padding-top: 5px;
	font-size: large;
	color: white;
	background-color: blue;
	width: 100%;
}

/* Ab hier derzeit noch ungenutzt ? */
* {
	font-size: 13px;
}

body {
	height: 100%;
	font-family: verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
}

table {
	font-size: 13px;
}

label {
	min-width: 12%;
}

.smallLabel {
	font-size: smaller;
	font-style: italic;
}

.tableHeader {
	background-repeat: repeat;
	border: thin;
	border-style: solid;
	border-color: black;
	border-spacing: 4px;
	text-shadow: black;
	color: black;
	font-weight: bold;
	text-align: center;
	background-image: url(#{     resource [     'images:table_header_background.png' ]
}

);
}
.inputFormSubHeader {
	font-weight: bold;
}

.tableHeader tr {
	padding-top: 20px;
}

.innerTable {
	width: 100%;
	background-color: white;
}

#calendar-container {
	width: 100%;
}

#calendar-container div {
	float: none;
	position: static;
}

.error {
	padding-top: 10px;
	padding-left: 50px;
	padding-bottom: 10px;
	margin-left: 225px;
	margin-bottom: 25px;
	border: thin;
	border-color: red;
	border-style: solid;
	text-align: left;
	background-repeat: no-repeat;
	background-position: left;
	margin-right: 50px;
	background-image: url(#{     resource [     'images:critical.png' ]
}

);
}
.error_field {
	padding-left: 20px;
	padding-right: 20px;
	background-position: left;
	background-repeat: no-repeat;
	background-image: url(#{     resource [     'images:critical_small.png' ]
}

);
}
/*   Template Layouting			*/
#main {
	border: 1px solid #B3B2B2;
	position: relative;
	width: 100%;
	min-height: 700px;
	border-left: 1px solid #b8b8b8;
	border-right: 1px solid #b8b8b8;
	height: auto !important;
	overflow-x: auto;
	overflow-y: hidden;
}

#content {
	width: 100%;
	height: auto !important;
	height: 100%;
}

#sidebar {
	height: 145px;
	vertical-align: top;
	vertical-align: top;
	padding-top: 5px;
	font-size: large;
	background-repeat: repeat-x;
	width: 100%;
	background-image: url(#{       resource [       'images:background.png' ]
}

);
}
.titleProVS {
	width: 50px;
	height: 300px;
	float: left;
}

#sidebar a {
	width: 150px;
	position: relative;
	float: right;
	margin-right: 0px;
	text-align: right;
	background-repeat: none;
	background-position: center;
	height: 30px;
	display: block;
	margin-bottom: 20px;
	margin-top: 10px;
	background-repeat: no-repeat;
}

#sidebar a.faktur {
	background-image: url(#{       resource [       'images:bt_faktur.png' ]
}

);
}
#sidebar a.faktur:hover {
	background-image: url(#{       resource [       'images:bt_faktur_hover.png' ]
}

);
}
#sidebar a.menue1:hover {
	background-image: url(#{       resource [       'images:bt_menue1_hover.png' ]
}

);
}
#sidebar a.report {
	background-image: url(#{       resource [       'images:bt_report.png' ]
}

);
}
#sidebar a.report:hover {
	background-image: url(#{       resource [       'images:bt_report_hover.png' ]
}

);
}
#sidebar a.stammdaten {
	background-image: url(#{       resource [       'images:bt_stammdaten.png' ]
}

);
}
#sidebar a.stammdaten:hover {
	background-image: url(#{       resource [       'images:bt_stammdaten_hover.png' ]
}

);
}
#sidebar a.zeiten {
	background-image: url(#{       resource [       'images:bt_zeiten.png' ]
}

);
}
#sidebar a.zeiten:hover {
	background-image: url(#{       resource [       'images:bt_zeiten_hover.png' ]
}

);
}
#sidebar DIV.space {
	width: 85px;
	position: relative;
	float: left;
}

#sidebar DIV.menuepart {
	float: left;
	width: 50%;
}

#zeitform input {
	width: 35px;
}

.detailTableEditImage {
	float: right;
	margin-right: 9px
}

.loading {
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(#{       resource [       'images:loading.gif' ]
}
);
}
/*								*/